### Data Quality Assesment
Data Dirty / Messy
1. uniqueness
2. validity
3. consistancy
4. completeness

### Extract Data

In [1]:
import pandas as pd  # lib untuk olah data
from sqlalchemy import create_engine # bikin connection antara code dengan db
from sqlalchemy import text

In [2]:
df = pd.read_csv('C:/Users/User/Documents/project/Binar/pandas_and_etl/dataset/mart_data_cut.csv')

### Data Quality Assesment

#### Uniqueness

In [4]:
# sql group by
# select id, count(*) as freq
# from table 
# group by id 
# having freq > 1

# show data yang duplicate
df[df.duplicated()] # munculkan df[dengan index true dari logic]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
136,1000026,P00042242,M,26-35,7.0,B,2,1,5,5411
137,1000026,P00059542,M,26-35,7.0,B,2,1,2,9734
10001,1000090,P00029242,M,55+,13.0,C,1,0,8,7786
10002,1001519,P00313242,M,18-25,4.0,C,1,0,8,9803
10003,1001519,P00085942,M,18-25,4.0,C,1,0,2,13244
10004,1001519,P00229642,M,18-25,4.0,C,1,0,8,7868
10005,1001519,P00313242,M,18-25,4.0,C,1,0,8,9803

In [6]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10001     True
10002     True
10003     True
10004     True
10005     True
Length: 10006, dtype: bool

In [5]:
# show jumlah data yg duplicate
sum(df.duplicated())

7

In [9]:
df[df.duplicated(subset = ['User_ID', 'Product_ID'])]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
136,1000026,P00042242,M,26-35,7.0,B,2,1,5,5411
137,1000026,P00059542,M,26-35,7.0,B,2,1,2,9734
10001,1000090,P00029242,M,55+,13.0,C,1,0,8,7786
10002,1001519,P00313242,M,18-25,4.0,C,1,0,8,9803
10003,1001519,P00085942,M,18-25,4.0,C,1,0,2,13244
10004,1001519,P00229642,M,18-25,4.0,C,1,0,8,7868
10005,1001519,P00313242,M,18-25,4.0,C,1,0,8,9803

#### Completeness

In [ ]:
# cek completeness 
# sql
# select nama_col, count(*)
# from table
# where nama_col is null
# group by nama_col

# pandas
# df.info() -> helicopter view

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10006 entries, 0 to 10005
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     10006 non-null  int64
 1   Product_ID                  10006 non-null  object
 2   Gender                      10006 non-null  object
 3   Age                         10006 non-null  object
 4   Occupation                  9997 non-null   float64
 5   City_Category               10006 non-null  object
 6   Stay_In_Current_City_Years  10006 non-null  int64
 7   Marital_Status              10006 non-null  int64
 8   Product_Category            10006 non-null  object
 9   Purchase                    10006 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 781.8+ KB

In [13]:
# checking data with null value
# df[df.isna().any()]

df[df.isna().any(axis = 1)]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
1338,1000216,P00129342,M,46-50,NaN,B,1,0,1,15714
1369,1000220,P00334242,M,26-35,NaN,A,3,0,1,15828
5898,1000956,P00134142,M,36-45,NaN,A,3,1,5,6921
5899,1000956,P00035542,M,36-45,NaN,A,3,1,3,8288
5900,1000956,P00176242,M,36-45,NaN,A,3,1,8,9907
5901,1000957,P00365242,M,36-45,NaN,C,2,1,5,8761
9856,1001500,P00271142,M,26-35,NaN,A,2,0,5,8864
9857,1001501,P00030942,M,26-35,NaN,A,3,0,4,2130
9858,1001501,P0097142,M,26-35,NaN,A,3,0,12,1761

In [14]:
# menghitung jumlah row dari df
# len(df[logic index])
len(df[df.isna().any(axis = 1)])

9

#### Consistancy

In [15]:
# show all columns names
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category',
       'Purchase'],
      dtype='object')

In [16]:
# unique value di tiap column
# df['nama_kol'].unique()

df['User_ID'].unique()

array([1000001, 1000002, 1000003, ..., 1001527, 1001528, 1001530],
      dtype=int64)

In [18]:
list(df['Product_ID'].unique())

['P00069042',
 'P00248942',
 'P00087842',
 'P00085442',
 'P00285442',
 'P00193542',
 'P00184942',
 'P00346142',
 'P0097242',
 'P00274942',
 'P00251242',
 'P00014542',
 'P00031342',
 'P00145042',
 'P00231342',
 'P00190242',
 'P0096642',
 'P00058442',
 'P00036842',
 'P00249542',
 'P00220442',
 'P00156442',
 'P00213742',
 'P00214442',
 'P00303442',
 'P00135742',
 'P00039942',
 'P00161442',
 'P00078742',
 'P00085942',
 'P00118742',
 'P00297942',
 'P00266842',
 'P00058342',
 'P00032442',
 'P00105942',
 'P00182642',
 'P00186942',
 'P00155442',
 'P00221342',
 'P00087242',
 'P00111142',
 'P00259342',
 'P0094542',
 'P00148642',
 'P00312142',
 'P00113242',
 'P00192642',
 'P00110842',
 'P00189642',
 'P00304242',
 'P00365242',
 'P00129542',
 'P00140742',
 'P00182342',
 'P00276642',
 'P00334242',
 'P00247542',
 'P00338442',
 'P00275142',
 'P00333042',
 'P00166242',
 'P00161942',
 'P00348242',
 'P00042142',
 'P00244242',
 'P00217742',
 'P00019342',
 'P00100642',
 'P00073842',
 'P00366542',
 'P00190742',
 'P00151842',
 'P00112642',
 'P00118442',
 'P00034442',
 'P00222242',
 'P00118342',
 'P00324742',
 'P00190042',
 'P0094142',
 'P00138542',
 'P00158542',
 'P00157542',
 'P00044142',
 'P00112542',
 'P00339542',
 'P00127842',
 'P00125942',
 'P00251342',
 'P00249642',
 'P00124842',
 'P00250642',
 'P00058142',
 'P00117442',
 'P00251642',
 'P00244842',
 'P00220242',
 'P00351142',
 'P00213242',
 'P00195942',
 'P00115642',
 'P0098242',
 'P00262242',
 'P00258742',
 'P00218242',
 'P00021742',
 'P00313042',
 'P00133742',
 'P00077042',
 'P00280542',
 'P00225842',
 'P00278942',
 'P00004742',
 'P00198042',
 'P00177442',
 'P00000642',
 'P00288942',
 'P00270942',
 'P00345842',
 'P00032042',
 'P00112342',
 'P00031842',
 'P00346642',
 'P00205642',
 'P00206442',
 'P00046742',
 'P00120042',
 'P00043242',
 'P00057242',
 'P00022842',
 'P00252042',
 'P00042242',
 'P00059542',
 'P00021242',
 'P00023042',
 'P00144242',
 'P00101342',
 'P00289342',
 'P00281742',
 'P00266642',
 'P00323742',
 'P00116342',
 'P00117142',
 'P00084442',
 'P00331542',
 'P00178942',
 'P00026042',
 'P00233542',
 'P00127242',
 'P00349942',
 'P00303342',
 'P00051442',
 'P00275642',
 'P00278642',
 'P00322042',
 'P00216342',
 'P00329342',
 'P00332342',
 'P00111742',
 'P00293742',
 'P00032842',
 'P00216142',
 'P00001642',
 'P00351842',
 'P00145442',
 'P00344242',
 'P00327242',
 'P00241142',
 'P00219242',
 'P00057342',
 'P00165742',
 'P00154642',
 'P00192942',
 'P00247042',
 'P00150542',
 'P00347142',
 'P00326742',
 'P00330442',
 'P00327842',
 'P00218342',
 'P00259042',
 'P00102542',
 'P00121142',
 'P00228242',
 'P00309542',
 'P00106742',
 'P00102642',
 'P00127442',
 'P00345642',
 'P00357842',
 'P00115342',
 'P00174442',
 'P00282642',
 'P00037142',
 'P00192042',
 'P00197542',
 'P00048742',
 'P00110142',
 'P00120842',
 'P00267742',
 'P00086442',
 'P00331842',
 'P00288642',
 'P00318742',
 'P00028442',
 'P00208342',
 'P00277442',
 'P00085242',
 'P00279442',
 'P00235242',
 'P00251542',
 'P00003242',
 'P00221542',
 'P00142142',
 'P00044442',
 'P00147742',
 'P00030942',
 'P00288042',
 'P00313142',
 'P00195442',
 'P00255842',
 'P00112142',
 'P00120342',
 'P00110542',
 'P00279942',
 'P00303742',
 'P00316742',
 'P00115242',
 'P00302842',
 'P00066442',
 'P00273442',
 'P00210142',
 'P00212542',
 'P00321742',
 'P00020042',
 'P00051942',
 'P00303542',
 'P00228142',
 'P00123142',
 'P00079542',
 'P00103142',
 'P00305542',
 'P00031042',
 'P00260042',
 'P00055642',
 'P00312742',
 'P00010742',
 'P00223242',
 'P00114942',
 'P00183242',
 'P00030842',
 'P00220142',
 'P00130442',
 'P00323042',
 'P00344742',
 'P00182442',
 'P00015342',
 'P00103042',
 'P00187842',
 'P00162442',
 'P00078542',
 'P00324442',
 'P00041642',
 'P00050542',
 'P00006442',
 'P00350942',
 'P00000142',
 'P00034042',
 'P00143142',
 'P00317942',
 'P00335542',
 'P00361842',
 'P00147942',
 'P00028042',
 'P00117542',
 'P00130742',
 'P00024142',
 'P00209742',
 'P00160042',
 'P00042342',
 'P00016542',
 'P00016742',
 'P00227642',
 'P00146142',
 'P00070542',
 'P00129842',
 'P00243942',
 'P00246742',
 'P00310142',
 'P00244142',
 'P00190142',
 'P00109242',
 'P00089342',
 'P00288542',
 'P00212242',
 'P00319342',
 'P00302942',
 'P00145942',
 'P00026342',
 'P00148842',
 'P00299842',
 'P00313342',
 'P00102442',
 'P00237542',
 'P0099342',
 'P00171542',
 'P00350342',
 'P00110742',
 'P00117642',
 'P00114142',
 'P00119142',
 'P00280742',
 'P00271142',
 'P00003942',
 'P00151742',
 'P00050642',
 'P00114742',
 'P00113942',
 'P00120942',
 'P00083842',
 'P00317842',
 'P00030642',
 'P00273642',
 'P00002542',
 'P00331642',
 'P00331242',
 'P0096442',
 'P00050242',
 'P00131942',
 'P00132042',
 'P00013742',
 'P00119342',
 'P00182142',
 'P00188942',
 'P00203142',
 'P00320442',
 'P00121642',
 'P00289542',
 'P00329742',
 'P00326642',
 'P00336142',
 'P00111442',
 'P00234742',
 'P00090842',
 'P00214542',
 'P00110942',
 'P00289942',
 'P00104842',
 'P00113142',
 'P00177942',
 'P00265242',
 'P00118142',
 'P00003642',
 'P00178342',
 'P00289742',
 'P00085042',
 'P00041542',
 'P00249142',
 'P00284042',
 'P00165442',
 'P00115942',
 'P00074442',
 'P00047242',
 'P00199042',
 'P00192542',
 'P00350042',
 'P00248442',
 'P00172842',
 'P00198142',
 'P00282142',
 'P00166942',
 'P00187742',
 'P00003442',
 'P00060242',
 'P00137642',
 'P00126142',
 'P00219842',
 'P00046142',
 'P00328142',
 'P00255542',
 'P00250842',
 'P00260142',
 'P0097142',
 'P00209842',
 'P00212942',
 'P00283942',
 'P00303242',
 'P00170442',
 'P00045842',
 'P00040442',
 'P00195842',
 'P00293242',
 'P00064042',
 'P00015542',
 'P00105142',
 'P00183442',
 'P00199442',
 'P00054542',
 'P00034742',
 'P00163142',
 'P00027142',
 'P00053942',
 'P00173342',
 'P00233342',
 'P00010842',
 'P00120242',
 'P00223942',
 'P00362342',
 'P00027542',
 'P00234842',
 'P00029242',
 'P0097842',
 'P00160942',
 'P00136542',
 'P00127942',
 'P00248542',
 'P00145842',
 'P00214342',
 'P00161542',
 'P00001942',
 'P00328042',
 'P00370242',
 'P00340642',
 'P00358242',
 'P0096542',
 'P0096942',
 'P00074142',
 'P00270042',
 'P00223842',
 'P00014842',
 'P00274342',
 'P00208742',
 'P00304442',
 'P00014042',
 'P00133442',
 'P00159842',
 'P00019942',
 'P00117042',
 'P00141942',
 'P00117942',
 'P00001742',
 'P00315442',
 'P00297642',
 'P00088542',
 'P00089042',
 'P00175742',
 'P00035542',
 'P00057942',
 'P00059442',
 'P00278042',
 'P00154042',
 'P00337942',
 'P00229342',
 'P00274242',
 'P00084642',
 'P00071242',
 'P00050442',
 'P0097342',
 'P00269542',
 'P00045542',
 'P00139742',
 'P00332242',
 'P00205442',
 'P00085542',
 'P00183142',
 'P00298242',
 'P00300942',
 'P00013942',
 'P00087042',
 'P00087342',
 'P00195642',
 'P00035842',
 'P00147342',
 'P00176842',
 'P00275842',
 'P00351342',
 'P00184142',
 'P00317342',
 'P00217242',
 'P00335442',
 'P0098342',
 'P00079742',
 'P00143642',
 'P00232342',
 'P00179042',
 'P00180942',
 'P00265742',
 'P00194542',
 'P00127642',
 'P00355142',
 'P00144642',
 'P00201342',
 'P00251942',
 'P00009342',
 'P00191442',
 'P00330642',
 'P00238542',
 'P0094942',
 'P00068042',
 'P00005042',
 'P00102042',
 'P00059742',
 'P00248142',
 'P00279342',
 'P00267542',
 'P00163342',
 'P00116842',
 'P00348742',
 'P00061142',
 'P00015942',
 'P00346542',
 'P00188742',
 'P00346942',
 'P00007042',
 'P00240242',
 'P00291042',
 'P00244642',
 'P00090542',
 'P00274142',
 'P00270542',
 'P00057442',
 'P00078142',
 'P00245642',
 'P00037542',
 'P00049842',
 'P00022942',
 'P00350442',
 'P00119542',
 'P00025442',
 'P00080342',
 'P00338542',
 'P00246142',
 'P00317642',
 'P00170642',
 'P00115442',
 'P00212742',
 'P00150742',
 'P00109342',
 'P00162642',
 'P00017042',
 'P00100842',
 'P00329442',
 'P00303842',
 'P00250242',
 'P00012542',
 'P00152442',
 'P00248342',
 'P00218642',
 'P00241542',
 'P00346442',
 'P00295942',
 'P00270142',
 'P0099042',
 'P00367142',
 'P00118842',
 'P00034842',
 'P00001142',
 'P00008842',
 'P00222142',
 'P00189842',
 'P00198742',
 'P00004242',
 'P00173942',
 'P00124642',
 'P00081142',
 'P00329542',
 'P00020142',
 'P00121342',
 'P00159542',
 'P00115142',
 'P00227542',
 'P00241642',
 'P00226742',
 'P00062842',
 'P00028842',
 'P00284642',
 'P00250342',
 'P00214142',
 'P00188542',
 'P00088242',
 'P00121042',
 'P00116742',
 'P00289642',
 'P00227742',
 'P00127542',
 'P00323942',
 'P00101142',
 'P00129642',
 'P00178642',
 'P00288442',
 'P00274042',
 'P00091842',
 'P00016042',
 'P00214242',
 'P00008542',
 'P00352142',
 'P00150942',
 'P00317442',
 'P00063342',
 'P00114542',
 'P00156742',
 'P00119242',
 'P00193042',
 'P00036542',
 'P00181842',
 'P00304742',
 'P00163842',
 'P00028242',
 'P00028542',
 'P00184442',
 'P00137542',
 'P00150342',
 'P00369742',
 'P00277942',
 'P00207042',
 'P00294542',
 'P00033642',
 'P00086042',
 'P00057742',
 'P00101942',
 'P00113342',
 'P00052642',
 'P00021642',
 'P00007342',
 'P00154742',
 'P00016342',
 'P00141842',
 'P00197442',
 'P00048642',
 'P00358742',
 'P00370342',
 'P00031442',
 'P00128242',
 'P00211142',
 'P00152742',
 'P00211042',
 'P00148342',
 'P00134342',
 'P00159942',
 'P00031642',
 'P00307342',
 'P00022542',
 'P00323842',
 'P00252442',
 'P00304842',
 'P00240142',
 'P00140042',
 'P00289042',
 'P00141442',
 'P00345742',
 'P00065342',
 'P00298142',
 'P00111542',
 'P00347242',
 'P00277642',
 'P00024042',
 'P00064942',
 'P00112442',
 'P00312942',
 'P00125742',
 'P00285742',
 'P00004842',
 'P00010242',
 'P00014742',
 'P00079442',
 'P00208942',
 'P00322342',
 'P00309142',
 'P00305142',
 'P00128042',
 'P00229742',
 'P00194642',
 'P00149542',
 'P00138242',
 'P00035242',
 'P00135842',
 'P00035742',
 'P00019142',
 'P00188442',
 'P00346342',
 'P00111042',
 'P00238442',
 'P00270242',
 'P00197342',
 'P00318142',
 'P00049642',
 'P00303642',
 'P00071442',
 'P00226442',
 'P0098542',
 'P00231142',
 'P00031542',
 'P00053842',
 'P00176042',
 'P00116142',
 'P00089442',
 'P00128942',
 'P00139942',
 'P00194442',
 'P00178442',
 'P00119742',
 'P00279642',
 'P00048142',
 'P00042942',
 'P00241242',
 'P00250542',
 'P00100442',
 'P00279142',
 'P00256542',
 'P00272042',
 'P00057642',
 'P00348542',
 'P00310242',
 'P00350542',
 'P00318942',
 'P00150142',
 'P00062742',
 'P00367042',
 'P00070042',
 'P00211942',
 'P00252842',
 'P00341342',
 'P00117342',
 'P00044342',
 'P00090942',
 'P00302742',
 'P00286842',
 'P00102342',
 'P00104542',
 'P00360042',
 'P00307642',
 'P00052842',
 'P00057542',
 'P00282842',
 'P00281542',
 'P00367542',
 'P00253042',
 'P00221942',
 'P00288342',
 'P00115542',
 'P00321942',
 'P00100142',
 'P00313542',
 'P00120142',
 'P00129742',
 'P00182742',
 'P00020342',
 'P00158142',
 'P00002142',
 'P00247742',
 'P00092642',
 'P00051142',
 'P00005642',
 'P00102242',
 'P00283242',
 'P00017742',
 'P00247642',
 'P0009942',
 'P00155742',
 'P00023642',
 'P00307542',
 'P00125342',
 'P00367242',
 'P0095142',
 'P00023142',
 'P00127342',
 'P00153742',
 'P00117742',
 'P00143342',
 'P00277542',
 'P00324942',
 'P00092242',
 'P00355942',
 'P00013342',
 'P00089542',
 'P00107642',
 'P00267142',
 'P00021842',
 'P00182242',
 'P00050342',
 'P0099742',
 'P00212342',
 'P00153642',
 'P00244042',
 'P00049442',
 'P00068942',
 'P00029842',
 'P00089242',
 'P00322742',
 'P00168742',
 'P00136442',
 'P00256642',
 'P00158242',
 'P00357942',
 'P00042842',
 'P00330042',
 'P00038342',
 'P00287542',
 'P00196142',
 'P00187442',
 'P00303142',
 'P00277842',
 'P0095342',
 'P00048442',
 'P00128342',
 'P00021342',
 'P00226142',
 'P00164342',
 'P00041142',
 'P00222942',
 'P00041042',
 'P00354342',
 'P00223642',
 'P00179642',
 'P00093642',
 'P00272242',
 'P00075742',
 'P00224142',
 'P00027642',
 'P00265542',
 'P00041742',
 'P00053542',
 'P00227842',
 'P00137242',
 'P00207242',
 'P00328342',
 'P00055142',
 'P00297042',
 'P00289242',
 'P00230842',
 'P00193242',
 'P00326842',
 'P00050742',
 'P00266542',
 'P00352842',
 'P00242742',
 'P00015642',
 'P00114042',
 'P00357242',
 'P00118542',
 'P00313442',
 'P00285842',
 'P00161142',
 'P00200642',
 'P00343042',
 'P00326242',
 'P00196742',
 'P00129342',
 'P00025542',
 'P00128742',
 'P00087442',
 'P00335242',
 'P00161242',
 'P00033342',
 'P00101242',
 'P00205242',
 'P00302042',
 'P00362442',
 'P00206642',
 'P00045342',
 'P00214742',
 'P00344842',
 'P00119642',
 'P00362542',
 'P00246942',
 'P00191742',
 'P00303042',
 'P00281942',
 'P00295242',
 'P00295842',
 'P00178042',
 'P00114342',
 'P00249042',
 'P00136342',
 'P00331942',
 'P00218842',
 'P00102942',
 'P00058042',
 'P00022642',
 'P00268442',
 'P00114642',
 'P00255742',
 'P00106942',
 'P00111842',
 'P00304142',
 'P00249842',
 'P00323442',
 'P00129442',
 'P00021042',
 'P00363742',
 'P00225042',
 'P00002642',
 'P00234542',
 'P00173842',
 'P00205942',
 'P00327342',
 'P00089142',
 'P00024742',
 'P00053642',
 'P00101842',
 'P00011342',
 'P00002942',
 'P00258442',
 'P00246342',
 'P00331342',
 'P00360742',
 'P00120442',
 'P00196042',
 'P00276142',
 'P00176942',
 'P00216542',
 'P00295542',
 'P00091142',
 'P00026542',
 'P00242042',
 'P00184342',
 'P00049542',
 'P00155642',
 'P00347342',
 'P00007142',
 'P00221442',
 'P00167942',
 'P00201442',
 'P00014642',
 'P00285642',
 'P00246042',
 'P00204342',
 'P00025042',
 'P00066542',
 'P00177342',
 'P00322942',
 'P00266042',
 'P00177642',
 'P00281642',
 'P00282442',
 'P00042742',
 'P00001242',
 'P00339942',
 'P00029542',
 'P00244342',
 'P00280642',
 'P00244442',
 'P00105442',
 'P00194142',
 'P00313942',
 'P00084342',
 'P00198642',
 'P00115842',
 'P00128142',
 'P00021142',
 'P00043542',
 'P00102842',
 'P00041842',
 'P00242642',
 'P00231942',
 'P00174142',
 'P00260442',
 'P00016842',
 'P00255942',
 'P00268342',
 'P00223542',
 'P00122442',
 'P00298942',
 'P00042542',
 'P00078842',
 'P00084842',
 'P00216742',
 'P00006142',
 'P00233442',
 'P00024342',
 'P00024242',
 'P00093342',
 'P00333642',
 'P00364442',
 'P00346042',
 'P00282242',
 'P00180342',
 'P00113642',
 'P00001042',
 'P00083942',
 'P00117842',
 'P00148042',
 'P00053042',
 'P00004642',
 'P00158042',
 'P00259142',
 'P00282042',
 'P00047942',
 'P00131542',
 'P00264242',
 'P00343442',
 'P00254642',
 'P00320842',
 'P00074242',
 'P00018142',
 'P00229942',
 'P00355642',
 'P00142942',
 'P00035342',
 ...]

In [19]:
list(df['Gender'].unique())

['F', 'M', 'Male', 'Female']

In [20]:
df[['User_ID','Gender']].groupby(by=['Gender']).nunique()

        User_ID
Gender
F           369
Female        1
M           992
Male          2

In [21]:
list(df['Age'].unique())

['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25']

#### Validity

In [27]:
df.describe([.25,.5,.75, .98]).apply(lambda s: s.apply('{0:.1f}'.format))

,User_ID,Occupation,Stay_In_Current_City_Years,Marital_Status,Purchase
count,10006.0,9997.0,10006.0,10006.0,10006.0
mean,1000791.1,8.4,1.9,0.4,17737.1
std,440.5,6.7,1.3,0.5,783231.7
min,1000001.0,0.0,0.0,0.0,186.0
25%,1000403.0,3.0,1.0,0.0,5832.0
50%,1000817.0,7.0,2.0,0.0,8022.0
75%,1001172.0,15.0,3.0,1.0,11923.0
98%,1001495.0,20.0,4.0,1.0,19959.5
max,1001530.0,20.0,4.0,1.0,77950291.0

In [28]:
# df[logic]
df[df['Purchase'] > 100000]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
155,1000029,P00127242,M,36-45,7.0,C,1,0,1,7963012
2898,1000466,P00031742,M,26-35,5.0,A,2,0,8,77950291

Total data 10006

Summary Quality assesment
1. ada 7 data yang duplicate
2. ada 9 data yang null, dan ini terjadi di kolom Occupation
3. nama kolom masih menggunakan capital, padahal snake case
4. pada kolom gender ada 2 data yang menggunakan value 'Male' dan 1 data 'Female', sisanya menggunakan F dan M
5. dari validity terdapat 2 data yang purchase > 7 jt usd

### Data Clensing

#### Remove duplication

In [30]:
df_clean = df.copy()

In [31]:
df_clean = df_clean.drop_duplicates(keep = 'last')

In [36]:
df_clean[df_clean.duplicated()]

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category, Purchase]
Index: []

#### remove null row

In [37]:
df_clean = df_clean.dropna()

In [38]:
df_clean[df_clean.isna().any(axis = 1)]

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category, Purchase]
Index: []

### Replace unconsistance data

In [41]:
# df['namacolumn'].replace({'yang_mau_direplace1' : 'hasil_replace1'})
df_clean['Gender'] = df_clean['Gender'].replace({'Male':'M', 'Female':'F'})

In [42]:
list(df_clean['Gender'].unique())

['F', 'M']

#### Additional matery

In [43]:
pdf = pd.read_csv('C:/Users/User/Documents/project/Binar/pandas_and_etl/dataset/sales_market/sales_order.csv')

In [65]:
# change from string to date
pdf['constructed_date'] = pd.to_datetime(pdf['Date'], format='%m/%d/%Y').dt.date

In [66]:
pdf['constructed_date'].min()

datetime.date(2001, 1, 1)

In [67]:
pdf['constructed_date'].max()

datetime.date(2019, 3, 30)

In [68]:
pdf.head()

,Invoice ID,Branch,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Date,Time,Payment,cogs,gross income,Rating,const_date,constructed_date
0,750-67-8428,A,Member,Female,Health and beauty,74.69,7,26.1415,01/05/2019,13:08,Ewallet,522.83,26.1415,9.1,2019-01-05,2019-01-05
1,226-31-3081,C,Normal,Female,Electronic accessories,15.28,5,3.8200,03/08/2019,10:29,Cash,76.40,3.8200,9.6,2019-03-08,2019-03-08
2,631-41-3108,A,Normal,Male,Home and lifestyle,46.33,7,16.2155,03/03/2019,13:23,Credit card,324.31,16.2155,7.4,2019-03-03,2019-03-03
3,123-19-1176,A,Member,Male,Health and beauty,58.22,8,23.2880,1/27/2019,20:33,Ewallet,465.76,23.2880,8.4,2019-01-27,2019-01-27
4,373-73-7910,A,Normal,Male,Sports and travel,86.31,7,30.2085,02/08/2019,10:37,Ewallet,604.17,30.2085,5.3,2019-02-08,2019-02-08